<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
    <style>
        div,span{
            color: rgb(231, 81, 22);
            background-color: rgb(103, 234, 103);
        }
        p{
            color: rgb(191, 58, 212);
            background-color: rgb(65, 215, 215);
        }
    </style>
</head>
<body>
    <div>
    Today,i started my css learning from code with harry.
    </div>
    <div>
        im learning about selectors.
    </div>
    <span>
        html,css,javascript.
    </span>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas cum cupiditate ab nisi necessitatibus nobis unde. Fugiat quod error sunt quas? Magni ab cumque molestiae exercitationem enim similique accusamus facere. A sunt tenetur ullam debitis. Nobis, doloribus! Nesciunt, laborum consequatur velit itaque quas ea sit.</p>
</body>
</html>