h1 h2 h3{
    background-color: aqua;
    color: blue;
}
p{
    background-color: brown;
    color: burlywood;
}
li ul ol{
    background-color: blue;
    color: brown;
}
table {
    border: 2px solid black;
    background-color:pink;
    color: rgb(185, 216, 6);
}
a{
    background-color: aquamarine;
    color: orange;
}