*{ 
    margin: 0;
    padding: 0;
}
:root{
    --color:purple;
    --seccolor:rgb(190, 129, 190);
    --defpad:53px;
    --defopa:0.3;

}
.nav{
    background-color:var(--color);
}
.container{
background-color: var(--seccolor);
}
ul li{
    list-style: none;
    padding: var(--defpad);

}
ul li:first-child{
   background-color: rgb(216, 133, 24);
    color: var(--color);

}
ul{
     display: flex;
}


